.header {
    background-image: url('../../assets/BackgroundBanner.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed; 
    top: 0;       
    width: 100%;    
    z-index: 10;    
  }